.main {
  width: 100%;
  margin: 10px 10px 0px 10px;
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  .mission-container {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
  }
}
