.main {
  width: 85%;
  margin: 10px 10px 0px 10px;
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
  .mission-container {
    width: 230px;
    margin: 0px 10px 10px 0px;
  }
}
