.main {
  width: 100%;
  @media screen and (min-width: 701px) {
    & {
      flex-wrap: wrap;
      display: flex;
    }
  }
  .mission-container {
    // width: 25%;
    // min-width: 250px;
    padding: 10px;
    flex-shrink: 1;
    box-sizing: border-box;
    flex-grow: 1;
    @media screen and (min-width: 701px) {
      & {
        max-width: 50%;
      }
    }
    @media screen and (min-width: 1025px) {
      & {
        max-width: 25%;
      }
    }
  }
}
