.App {
  max-width: 1440px;
    margin: 0 auto;
  .main-section {
    @media screen and (min-width: 701px) {
      & {
        display: flex;
      }
    }
  }
  header {
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  footer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    .developed-by {
      font-weight: bold;
    }
    .name {
      margin-left: 5px;
    }
  }
}
