.App {
  max-width: 1440px;
    margin: 0 auto;
  .main-section {
    display: flex;
    // min-height: 92vh;
  }
  header {
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  footer {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .developed-by {
      font-weight: bold;
    }
    .name {
      margin-left: 5px;
    }
  }
}
